@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.container{
  /* background-image: url('./dark_light.jpg');
  background-size: 100%; */

  font-family: 'Menlo-Regular', monospace;
  /* background-color: #282c34; */
  /* background-image: radial-gradient(#282c34, #2A363B); */
  /* padding: 0 1rem; */
  font-size: calc(2vmin);

}

.bannerContainer{
  min-height: 100vh;
  color: white;
  background-color: #2A363B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.postsContainer{
  /* min-height: 100vh; */
  color: #37474f;
  background-color: #D3D3D3;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: zoom-in;
}

.btn:hover {
  background: #666;
}

#cursor {
  border-left: .2em solid;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
